<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Prescott Doula Services, LLC</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div id="navbar" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" id="navLinks" href="#about">What is a Doula?</a>
                </li>
                <li>
                    <a class="page-scroll" id="navLinks" href="#aboutMe">About Me</a>
                </li>
                <li>
                    <a class="page-scroll" id="navLinks" href="#benefits">Benefits</a>
                </li>

                <li>
                    <a class="page-scroll contactBtn" id="navLinks" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h3>Childbirth is an experience in a woman's life that holds the power to transform her -forever- passing through these powerful gates -in her own way- remembering all the generations of women who walk with her... She is never alone.</br>-Suzanne Arms</h3>
            <hr>
            <h3>A Doula's Role</h3>
            <p>A Doula is not a medical practitioner. Doulas do not give medical advice. Doulas are trained in massage, breathing and other comfort techniques to help with labor.  Through touch, praise, reassurance and guidance, a doula works to keep the mother and partner relaxed and focused.</p>
            <a href="#about" class="btn btn-default btn-xl page-scroll">What is a Doula?</a>
        </div>
    </div>
</header>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">As defined by DONA International, a doula...</h2>
                <hr class="light">
                <p class="text-faded">
                    <ul>
                        <li><h4>Recognizes childbirth as a key life experience that the mother will remember all her life</h4></li>
                        <li><h4>Understands the physiology of birth and the emotional needs of a woman in labor</h4></li>
                        <li><h4>Assists the woman and her partner in preparing for and carrying out their plans for the birth</h4></li>
                        <li><h4>Provides emotional support, physical comfort measures and an objective viewpoint</li>
                        <li>Stays by the side of the laboring woman throughout the labor</h4></li>
                        <li><h4>Helps the woman get the information she needs to make thoughtful choices, both before and during labor</h4></li>
                        <li><h4>Facilitates communication between the laboring woman and the clinical care providers</h4></li>
                        <li><h4>Works to nurture and protect the woman's memory of her birth experience</h4></li>
                    </ul>
                </p>
                <a href="#aboutMe" class="btn btn-second btn-xl page-scroll">Learn more about me!</a>
            </div>
        </div>
    </div>
</section>

<section id="aboutMe">
    <div class="container">
        <div class="row">
            <div class="col.lg-12 text-center">
                <h3 class="aboutMeText">My name is Edie Thomas.  I have been married 39 years and have five children.  My journey into motherhood began at 16 years old when I welcomed my daughter into the world and since then I have labored through as well as assisted many different kinds of births from traditional hospital delivery, to home birth and even the adoption of my youngest son.  My experiences have given me a unique perspective and I value each woman's choice to have the birth that she desires.  The road to motherhood is one of the most life changing events In a woman's life and having an experienced woman by your side can bring a great sense of peace.  This is what I want to provide.  I have always found pregnancy, labor and delivery to be an incredibly beautiful time in a woman's life, especially when she feels empowered to pursue what she wants, but in a world full of opinions, information and pressure I believe that having an advocate by your side to make sure you're heard can make all the difference in helping a woman reach that confidence and empowerment. </h3>
                <a href="#benefits" class="btn btn-default btn-xl page-scroll">Benefits of Using a Doula</a>
            </div>
        </div>
    </div>
</section>

<section id="benefits"  class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Benefits of using a Doula</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <%= image_tag "clock104.png", class: "img-to-white" %>
                        <h3>25% SHORTER LABORS</h3>
                        <p class="text-muted"></p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <%= image_tag "scalpel.png", class: "img-to-white" %>
                        <h3>45% FEWER CESAREANS</h3>
                        <p class="text-muted"></p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <%= image_tag "fneedle.png", class: "img-to-white" %>
                        <h3>40% FEWER EPIDURALS</h3>
                        <p class="text-muted"></p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <%= image_tag "forceps1.png", class: "img-to-white" %>
                        <h3>30-50% DECREASE IN THE NEED FOR FORCEPS, VACUUM EXTRACTION, AND PITOCIN</h3>
                        <p class="text-muted"></p>
                    </div>
                    <br></br>
                </div>
               <a href="#contact" class="btn btn-second btn-xl page-scroll contactBtn">Contact Me!</a> 
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contact Me</h2>
                <hr class="primary">
            </div>

            <form id="contactForm">
                <div class="form-group">
                <label for="name">Name:</label>
                <input type="name" class="form-control" id="name">
              </div>
              <div class="form-group">
                <label for="email">Email address:</label>
                <input type="email" class="form-control" id="email">
              </div>
              <div class="form-group">
                <label for="pwd">Phone number:</label>
                <input type="password" class="form-control" id="pwd">
              </div>
              <div class="form-group">
                <label for="comment">Comment:</label>
                <textarea class="form-control" rows="5" id="comment"></textarea>
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>

            <!-- <div class="header-content-inner col-lg-6 col-md-6 text-center">
              <a class="email" href="mailto:prescottdoula@gmail.com">
                <i class="fa fa-envelope-o fa-5x"></i>
                <p>Email</p>
              </a>
            </div>

            <div class="header-content-inner col-lg-6 col-md-6 text-center">
              <a class="email" href="tel:928-848-3517">
                <i class="fa fa-phone fa-5x"></i>
                <p>Call</p>
              </a>
            </div> -->
        </div>
    </div>
</section>